body {
    width: 100%;
    height: 100%;
    margin: 0;
    background-color:#E5E5E5;
    display: flex;
    justify-content: center;
}

.gridcontainer{
margin: 0;
}

.contactpic{
    width: 1000px;
    height: 350px;
    background-color: #c7ddea;
    display: flex;
    justify-content: center;
}

.contactpic img{
    position: relative;
    height: 300px;
    left: 170px;
    top: 50px;
}

.hellothere{
    font-size: 40px;
    margin: 0;
    align-self: center;
}

nav{
    width: 1000px;
    background: #E5E5E5;
    height: 75px;
    margin: 0px;
}

.contactbutton a {
    color: #000000;
}

ul{

    display: flex;
    justify-content: space-between;
    margin-left: 200px;
    margin-right: 200px;
    margin-top: 0px;
    padding-left: 0px;
}

li{
    align-items: center;
    margin-top: 25px;
    text-decoration: none;
    font-family:'Fira Sans', sans-serif;
    list-style-type: none;
}


a{
    color: #A9A19E;
    text-decoration: none;
    font-weight: 600;
}

.contactform{
    width: 1000px;
    height: 600px;
    background-color: #a9a19e;
    display: flex;
    flex-direction: row;
    justify-content: center;
}

form p{
margin: 5px;
color: rgba(255, 255, 255, 0.7);
}

form button{
    position: relative;
    left: 230px;
    border-radius: 20px;
    height: 40px;
    width: 140px;
    box-shadow: 0px 4px 0px -2px rgba(145,145,189,1);
    font-family: 'Fira Sans', sans-serif;
}


.form{
    padding-top: 100px;
    width: 400px;
    height: 500px;
    align-self: center;
    display: flex;
    flex-direction: row;
    justify-content: flex-end;
}

.mind{
    box-sizing: border-box;
    padding: 30px;
    width: 450px;
    height: 500px;
    display: flex;
    font-size: 35px;
    color: #ffffff;
}

.mind h1{
    padding-top: 40px;
    align-items: center;
}

input{
    padding: 10px;
    width: 350px;
    border-radius: 3px;
    resize:none;
    border-style: none;
}

.contactbox{
    height: 200px;
    width: 370px;
    border-radius: 3px;
    border-style: none;
    resize: none;
    box-sizing: border-box;
    padding: 15px;
    font-size: 15px;
    font-family: 'Fira Sans', sans-serif;
    font-weight: 400;
    color: #000000;
}



.send{
    align-items: flex-end;
}

.visit{
    height: 400px;
    width: 1000px;
    background-image: url("/img/map.png");
    background-size: cover;
    margin: 0px;
}

.visit h1{
    margin: 0;
}

.adress{
    position: relative;
    width: 330px;
    height: 215px;
    background-color: rgb(250, 177, 49);
    left: 85px;
    top: 40px;
    box-sizing: border-box;
    padding: 20px;
}

.adress h1{
    font-size: 45px;
    color: #ffffff;
    font-weight: 900;
    font-family: 'Frank Ruhl Libre', serif;
}

.adress p{
    font-size: 20;
    color: #ffffff;
    font-weight: 500;
    font-family: 'Frank Ruhl Libre', serif;
}

.pinlogo{
    width: 90px;
    display: block;
    margin-left: 350px;
}

footer {
    width: 1000px;
    height: 350px;
    background-color: #777574;
}


@media screen and (max-width: 450px){

    body{
        margin: 0;
    }


.gridcontainer *{
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
    align-self: center;
}

nav ul {
    margin: 0px;
    padding: 24px 0px 5px 30px;
  }
  
  nav li {
     margin-right: 40px;
     list-style: none;
     text-decoration: none;
     display: inline;
  }
  
  nav li a {
     text-decoration: none;
  }


.contactform *{
    min-height: 1vh;
    display: grid;
    grid-template-columns: repeat(1,1fr);
}

form{
    position: absolute;
    right: 10px;
    bottom: -300px;
}

.contactpic img{
    width: 150px;
    height: 300px;
    top: 28px;
    left: -10px;
   }

.mind h1{
    position: absolute;
    right: 127px;
    font-size: 40px;
    top: 406px;
}

.adress {
    position: absolute;
    left: 24px;
    top: 1150px;
}

.adress h1{
position: absolute;
top: -100px;
right: 40px;
font-size: 45px;;
}

.adress p{
    position: absolute;
    right: 85px;
}

.pinlogo{
    position: absolute;
    width: 45px;
    height: 40px;
    right: -50px;
}

}


















