body {
    width: 100%;
    height: 100%;
    margin: 0;
    background-color:#E5E5E5;
    display: flex;
    justify-content: center;
}

.gridcontainer{
margin: 0;
}

header {
    max-width: 62.5em;
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: 18.753em 18.753em;
    grid-template-areas: 
    "left topright"
    "left bottomright"
}

.covered {
    display: flex;
    flex-direction: column;
    background-size: cover;
    height: 37.5em;
    width: 31.2em;
    grid-area: left;
    justify-content: center;
    align-items: center;
    background-color: #C7DDEA;
    
}

.family{
position: absolute;
width: 280px;
height: 300px;
display: inline-flex; 
justify-content: flex-end;
margin-left: -40px;
}

.learnmore {
    display: flex;
    flex-direction: column;
    height: 300px;
    width: 500px;
    background-color: rgb(241, 121, 73);
    grid-area: "topright";
    justify-content: center;
    align-items: center;
}
.jointoday {
    display: flex;
    flex-direction: column;
    height: 300px;
    width: 500px;
    background-color: rgb(250, 177, 49);
    grid-area: "bottomright";
    justify-content: center;
    align-items: center;
}

.text1 {
    width: 300px;
    height: 250px;
    margin-bottom: 180px;
}
.text1 > h1 {
    font-family: 'Frank Ruhl Libre', serif;
    font-weight: 900;
    font-size: 45px;
    line-height: 1.0;
    margin: 0px;
}

p {
    color: rgba(0, 0, 0, 0.5);
    margin-top: 15px;
    line-height: 1.6;
    font-weight: bold;
    font-size: 15px;
    font-family: 'Fira Sans', sans-serif;
}

.whitetext {
    color: white;
    }

    button {
    margin-top: 40px;
    border-radius: 20px;
    height: 40px;
    width: 140px;
    box-shadow: 0px 4px 0px -2px rgba(145,145,189,1);
    font-family: 'Fira Sans', sans-serif;
}


.learnmore > h1{
    color: white;
    font-family: 'Frank Ruhl Libre', serif;
    font-size: 32px;
    line-height: 1.0;
    margin: 0px;
}

.jointoday > h1{
    color: white;
    font-family: 'Frank Ruhl Libre', serif;
    font-size: 32px;
    line-height: 1.0;
    margin: 0px;
}

.learnmore > p, .jointoday > p{
    font-size: 13px;
}

nav{
    width: 1000px;
    background: #E5E5E5;
    height: 75px;
    margin: 0px;
}

.homebutton a {
    color: #000000;
}

ul{

    display: flex;
    justify-content: space-between;
    margin-left: 200px;
    margin-right: 200px;
    margin-top: 0px;
    padding-left: 0px;
}

li{
    align-items: center;
    margin-top: 25px;
    text-decoration: none;
    font-family:'Fira Sans', sans-serif;
    list-style-type: none;
}

a{
    color: #A9A19E;
    text-decoration: none;
    font-weight: 600;
}

.grey {
    display: flex;
    flex-direction: row;
    margin: 0px;
    padding: 0px;
    height: 650px;
    width: 1000px;
    background-color: #A9A19E;
}

.greyleft {
    display: flex;
    box-sizing: border-box;
    padding-left: 50px;
    width: 498px;
    height: 650px;

}

.greyright{
    display: flex;
    justify-content: flex-start;
    box-sizing: border-box;
    padding-left: 50px;
    width: 498px;
    height: 650px;
}

.greytextleft {
    align-items: center;
    font-family: 'Fira Sans', sans-serif;
    font-size: 45px;
    color: white;
    line-height: 1.0;
    margin: 40px 0px 0px 70px;
    width: 400px;
    height: 250px;
}

.greytextright{
    margin-top: 85px;
    width: 300px;
    height: 250px;
}

.yellow{
display: flex;
justify-content: center;
margin: 0px;
padding: 0px;
height: 650px;
width: 1000px;
background-color: #FAB131;
}

.yellowabout {
    margin: 170px 0px 0px 0px;
    width: 565px;
    height: 400px;
    text-align: center;
}

.yellowabout > h1{
    color: white;
    font-family: 'Fira Sans', sans-serif;
    font-size: 45px;
    line-height: 1.0;
    margin-bottom: 40px;
}

.threecards{
    box-sizing: border-box;
    margin: 0px;
    width: 1000px;
    height: 0px;
    position: relative;
    bottom: 655px ;
    display: flex;
    justify-content: space-between;
    padding-left: 100px;
    padding-right: 100px;

}

.card{
    box-sizing: border-box;
    padding: 10px;
    border-radius: 5px;
    align-self: center;
    width: 250px;
    height: 300px;
    background-color: white;
    display: flex;
    justify-content: center;
    display: flex;
    flex-direction: column;
    text-align: center;
}

.card p{
    font-size: 11px;
    padding: 0px;
    margin: 0px;
    margin-top: 10px;
    margin-bottom: 10px;
    position: relative;
    bottom: 15px;
    text-align: center;
    width: 200px;
    align-self: center;
}

.card h2{
    margin: 0px;
    font-size: 15px;
    position: relative;
    bottom: 15px;
}

.childcard{
    width: 230px;
    height: 280px;
    background-color: #c7ddea;
    position: relative;
    bottom: 35px;
    border-radius: 5px;
}

.adultcard{
    width: 230px;
    height: 280px;
    background-color: rgb(250, 177, 49);
    position: relative;
    bottom: 35px;
    border-radius: 5px;

}

.oldcard{
    width: 230px;
    height: 280px;
    background-color: #f17949;
    position: relative;
    bottom: 35px;
    border-radius: 5px;
}

.smallpics{
    height: 130px;
    position: relative;
    top: 12px;
}

.oldcard img{
    height: 115px;
    position: relative;
    top: 27px
}

.howitworks{
    display: flex;
    flex-wrap: wrap;
    font-family: 'Frank Ruhl Libre', serif;
    font-size: 45px;
    font-weight: 900;
    line-height: 1.0;
    margin: 0px;
    width: 1000px;
}

article {
    margin: 0px;
    padding: 0px;
    height: 333.33px;
    width: 333.33px;
    background-color: rgb(255, 255, 255);
    display: flex;
    flex-direction: column;
}

article p{
    align-self: center;
    padding-top: 30px;
    text-align: center;
}

article:nth-of-type(1) {
    background-color: #c7ddea;
}

article:nth-of-type(3) {
    background-color: #ebebeb;
}

article:nth-of-type(5) {
    background-color: #f17949;
}

article h3{
    padding: 30px;
    margin: 0px;
    color: rgb(161, 161, 161);
}

article h1{
    align-self: center;
    padding-top: 60px;
    text-align: center;
}

.scroll {
    box-sizing: border-box;
    height: 75px;
    width: 1000px;
    display: flex;
    flex-direction: column;
    background-color: #a9a19e;
    align-items: center;
}

.scroll a {
    margin: -13px;
    color: rgba(0, 0, 0, 0.5);
}

.scroll p{
    margin: -13px;
    color: rgba(0, 0, 0, 0.5);  
}

.arrow{
    font-size: 35px;
    margin: 0px;
}